@font-face{
font-family:'Axettac Demo', 'Viga', sans-serif;
src: url('../font/Axettac\ Demo.ttf');
src: url('../font/Viga-Regular.ttf');
}
.hum-img{
margin-top: -3px;
width: 20px;
height:20px;
}
.navbar-light .navbar-toggler {
color: rgba(0,0,0,.5);
border-color: white;
}
title link{
width: 10px;
height: 10px;
}
/* Navbar mobile*/
.navbar{
position:relative;
z-index: 1;

}

.navbar-brand{
font-family: 'Axettac Demo', sans-serif;
font-size: 22px;
}
.navbar-brand, .nav-link{
color: white !important;
}
.navbar-light{
background: #394201 !important;
}

/* Tab Rekomendasi mobile*/
.tab-rekomendasi{
padding-top: 10px;
background-color: rgb(112, 124, 54);
box-shadow: rgba(0, 0, 0, 0.5) 2.5px 2.5px 5px;
font-size: 18px;
color: rgb(255, 255, 255);
text-align: center;
padding-bottom: 1px;
margin-top: unset;
}
.tombol{
background: green;
border-radius: 40px;
border: green;
}
.tombol:hover{
background-color: white;
border: 0.1px solid green;
color: green;
}

.search{
width: 200px;
border-radius: 10px;
font-size: 12px;
margin-top: 18px;
padding: 3px;
}


/* Content mobile*/
a{
color: black;
}
a:hover{
text-decoration: none;
color: black;
}
.col-lg{
border-radius: 8px;
}
.nm-prod{
margin-top: -5px;
font-weight: 500;
height: 45px;
}
.nm-prod, .price{
text-align:center; 
margin-bottom: 2px;
font-size: 18px;
color: black;
}

.price{
font-weight: 200;
margin-bottom: 10px;
font-size: 20px;
}

.col-lg{
margin: 5px 15px;
width: 160px;
height: 240px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.img{
margin: 5px;
padding: 10px;
width: 120px;
height: 145px;
}

.nm-wr, .zona{
text-align: center;
margin-bottom: 2px;
font-size: 15px;
font-weight: 500;
}

.zona{
color: green;
}
text{
font-size: 20px;
}
p{
font-size: 18px;
}
.desc{
text-align: center;
}
.display-desc{
font-size: 22px;
width: 430px;
font-weight: 200;
padding: 10px;
}

.display-desc .span{
font-weight: 500;
}
.text p{
text-align: justify;
}
/* Jumbotron */
.jumbotron{
background-image: url(../image/gambarbanner.png);
background-size: cover;
height: 340px;
text-align: center;
position: relative;
margin-bottom: 0px;
}

.jumbotron .container{
z-index: 1;
position: relative;
}


.jumbotron .display-4{
margin-right: 10px;
color: white;
margin-top: 90px;
font-size: 20px;
font-weight: 500;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.jumbotron .display-5{
color: white;
font-weight: 300;
font-size: 15px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.jumbotron::after{
content: '';
display: block;
width: 100%;
height: 50%;
background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
position: absolute;
bottom: 0;
}
/* Tab Rekomendasi mobile*/
.text-rekomendasi{
text-align: center;
}
/* Akhir Tab Rekomendasi mobile*/

/* Deskripsi mobile*/
.display-desc{
box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
font-size: 12px;
width: 330px;
padding: 10px;
font-weight: 200;
margin-bottom: 10px;
}
.kiri{
margin-left: 1px;
margin-right: 0px;
}
.kanan{
margin-right: 0px
}
.text{
margin-top: 5px;
text-align: center;
font-size: 22px;
}
p{
text-align: justify;
}
/* Akhir Deskripsi */

/* Cara Kerja Mobile */
.col p{
    text-align: justify;
}
/*Akhir Cara Kerja Mobile */

/* Keunggulan mobile ver*/
.col-sm h4{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.col-sm p{
    font-size: 14px;
    margin-top: -5px;
    font-weight: 200;
}
.img-space{
    width: 300px;
}
.img-medium{
    margin: 5px 65px;
    width: 150px;
    height: 150px;
}
/* 
    margin: 10px auto;
}
/* Akhir keunggulan */

/* Footer mobile */
ul{
list-style-type: none;
padding-left: 1px;
}

.page-footer{
margin-top: 100px;
width: 100%;
background: white;
border-top: 2px solid black;
}
.footer-copyright{
padding-top: 15px;
bottom: 0;
height: 50px;
text-align: center;
color: white;
background-color: #394201;
}
.h5, h5{
font-size: 15px;;
}
.sosmed-logo{
width: 30px;
height: 30px;
margin-left: 5px;
}
.fb-right{
margin-top: -59px;
margin-left: 50px;
}
.nav-lg{
padding-left: 30px;
margin-top: 10px;
}
.wa-text{
color: white;
background: #26d367;
border-radius: 10px;
padding: 4px;
width: 128px;
height: 30px;
font-size: 12px;
margin-left: 0px;
}
.wa-text:hover{
text-decoration: none;
color: white;
}
.con-text{
margin-bottom: 2px;
}
.wa-logo{
width: 14px; 
height: 14px;
}

/* DEKSTOP VERSION */

@media (min-width: 992px){
.navbar-brand{
    font-size: 52px;
}
.navbar-brand, .nav-link{
    margin-top: 1px;
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.nav-link{
    font-size: 22px;
    text-transform: uppercase;
    margin-right: 30px;
}
.navbar-light{
    background: transparent !important;
}
.tombol{
    padding-top: 7px;
    font-size: 20px;
    text-transform: uppercase;
}
.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #088f0d; 
    width: 50%;
    margin: auto; 
    padding-bottom: 5px;
    margin-bottom: -8px;
}
/* Jumbotron Dekstop */
.jumbotron{
    margin-top: -110px;
    height: 640px;
}
.jumbotron .display-4, .jumbotron .display-5{
    margin-top: 20px;
}
.jumbotron .display-4{
    margin-top: 160px;
    font-size: 46px;
}
.jumbotron .display-5{
    font-size: 32px;
}

.cari{
    background: green;
    color: white;
    border: 2px solid green;
    border-radius: 40px;
    margin-top: 4px;
    padding: 7px 20px 10px 20px;
    font-size: 21px;
}
.cari:hover{
    background: green;
    border: 2px solid white;
    color: white;
    text-decoration: unset;
}
.search{
    font-size: 22px;
    width: 600px;
    padding: 12px;
}
/* Akhir Jumbotron Dekstop */
/* Keunggulan dekstop ver*/
.col-sm{
    width: 100%;
    height: 145px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.img-medium{
    float:left;
}
text h6{
    font-weight: 500;
}
.col-sm h4{
    font-weight: 400;
    font-size: 22px;
    text-align: left;
}
.col-sm p{
    font-size: 18px;
    text-align: left;
}

/* Akhir Keunggulan */
.container{
    padding-right: 30px;
    padding-left: 11px;
}
.tab-rekomendasi{
    padding-top: 10px;
    background-color: rgb(112, 124, 54);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-bottom: 20px;
    padding: 10px 0 10px 20%;
    margin-top: unset;
}

/* Content Dekstop*/
.text-rekomendasi{
    text-align: left;
}
.row .justify-content-center{
    display: inline-flex;
    margin-right: 10px;
}
.row{
    margin: 5px;
}
.col-lg{
    margin: 15px;
    width: 250px;
    height: 310px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.img{
    margin: 5px 20px 5px 22px;
    padding: 10px;
    width: 180px;
    height: 220px;
}
.img:hover{
    margin-top: 0px;
    margin-bottom: 10px;
}
.nm-prod{
    margin-top: -5px;
    font-weight: 500;
}

.nm-prod, .price{
    text-align:center; 
    margin-bottom: 2px;
    font-size: 20px;
}

.price{
    color: black;
    font-weight: 200;
    margin-bottom: 10px;
}

.zona{
    color: green;
}

/* Deskripsi Dekstop */
p{
    font-size: 22px;
}
.display-desc{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 22px;
    text-align: center;
    width: 1042px !important;
    margin: 10px auto;
}
.text{
    font-size: 22px;
}
.kiri{
    margin-left: 5px;
    margin-right: 0px;
}
.kanan{
    margin-right: 0px
}
.text{
    margin-top: 5px;
}

/* Footer Dekstop */
.footer{
    height: 200px;
}
.footer-text{
    padding-left: 80%;
    text-align-last: center;
    color: #ffffff;
    font-size: 18px;
}

.sosmed{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color:#394201;
}
.sosmed > div {
    color: white;
    font-family: 'Ubuntu Light';
}

.footer-text{
    color: #ffffff;
    font-size: 15px;
}

.sosmed .container-footer {
    position: relative;
    min-width: 992px;
    margin: 0 auto;
}

.sosmed-logo{
    list-style: none;
    position: absolute;
    margin-left: -15px;
    margin-top: 45px;
    width: 45px;
    height: 45px;
    top: -2px;
}

.fb-right {
    margin-top: 46px;
    margin-left: 60px;
    height: 42px;
    width: 42px;
}

.sosmed ul {
    margin-right: 300px;
    position: relative;
    float: right;
    display: inline-block;
}
.sosmed ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.sosmed ul li h3 {
    padding-left: 0;
}

ul{
    list-style-type: none;
    padding-left: 205px;
}
.wa{
    height: 40px;
    width: 190px;
    margin: 10px 153px;
}
.wa-text{
    font-size: 20px;
    color: white;
}
.wa-text:hover{
    text-decoration: none;
    color: white;
}
.wa-logo{
    margin-top: -4px;
    margin-left: 5px;
    margin-right: 5px;
    width: 22px; 
    height: 22px;
}
.h5, h5{
    font-size: 20px;
    text-align: center;
}